<!-- <div class="container">

  <h1>Lorem Ipsum</h1>

  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
    standard
    dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
    specimen
    book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially
    unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and
    more
    recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>


  <img src="https://picsum.photos/200/300" width="500" height="500">
</div> -->

  <p>page articles</p>


<div class="container">
  <div class="row">
    <div class="col-sm">
            <img src="https://picsum.photos/200/300" width="300" height="200">

      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard
       </p>
      <a href="pagearticle"><button type="button" class="btn btn-info">Red article</button></a>
    </div>
    <div class="col-sm">
            <img src="https://picsum.photos/200/300" width="300" height="200">

      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard
      </p>
      <a href="pagearticle"><button type="button" class="btn btn-info">Red article</button></a>
    </div>
    <div class="col-sm">
            <img src="https://picsum.photos/200/300" width="300" height="200">

      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard
        </p>
        <a href="pagearticle"><button type="button" class="btn btn-info">Red article</button></a>
    </div>
  </div>
</div>
